{% extends 'base.html' %}
{% block content %}

<h1><center>Add a Blog Entry</center></h1>

<form method='post'>

    <label> Title for your new blog:<br>
        <input type='text' name='blogTitle' value='{{blogTitle}}' />
        <p class='error' style="color: red; margin-top: 0px;">{{titleError}}</p>
    </label>
    <br>
    <br>
    <label> Your new blog:<br>
        <textarea name='blogBody' value='{{blogBody}}' rows='20' cols='50'></textarea>
        <p class='error' style="color: red; margin-top: 0px;">{{bodyError}}</p>
    </label>
    <br>
    <br>

    <input type='submit' value='Add Entry' />


</form>
{% endblock %}